.main {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 20px);
    height: calc(100% - 140px);
    margin-top: 70px;
    padding: 0px 10px;
}
